
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resultado</title>
    <script  th:src="@{/js/libreria.js}"></script>
</head>
<body>
    <h1>
        Detalles de Venta
        
    </h1>
   <p>
  <p>Producto: <span th:text="${nombre}"></span></p>
  <p>Venta Bruta: <span th:text="${Bruta}"></span></p>
  <p>Descuento Cupon: <span th:text="${descuentoC}"></span></p>
  <p>Factura: <span th:text="${factura2}"></span></p>
  <p>Total: <span th:text="${total}"></span></p>
       
    </p>

</body>
</html>
