<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programa</title>
    <script  th:src="@{/js/libreria.js}"></script>
</head>
<body>
    <h2>Calculo de Venta de un producto</h2>
    <p>Nombre Producto: 
    <input type="text" id="txtNombre">
    </p>
    <p>Cantidad: 
    <input type="text" id="txtCantidad">
    </p>
    <p>Precio Unitario: 
    <input type="text" id="txtPrecio">
     </p>
    <p>Cupon de descuentos 
        SI ESTA BIEN
    <input type="text" id="txtCupon">
</p>
    <p>
<label for="Factura ">Factura: </label>
<select name="Factura" id="Factura">
    <option value="Respuesta">Si</option>
    <option value="Respuesta">No</option>
</select>
</p>
<p>
<a  th:href="@{/detalle}" >
    <button>Procesar></button>
    </a></p>
</body>
</html>